@use "colors-physical";

// Logical colors
$title-color: colors-physical.$color;
$title-background-color: colors-physical.$background-color;

$table-header-color: colors-physical.$em-color;
$table-header-background-color: colors-physical.$em-background-color;

$table-border-color: $table-header-background-color;
$table-cell-border-color: colors-physical.$soft-border-color;

$busy-color: colors-physical.$em-color;
$busy-background-color: colors-physical.$em-background-color;
$busy-border-color: colors-physical.$em-border-color;

$fieldset-border-color: colors-physical.$soft-border-color;
$filter-panel-border-color: colors-physical.$soft-border-color;

$data-row-even-background-color: colors-physical.$item-even-background-color;
$data-row-odd-background-color: colors-physical.$item-odd-background-color;
$data-row-hover-background-color: colors-physical.$item-hover-background-color;

$data-row-selected-background-color: colors-physical.$selected-item-background-color;

$bottom-panel-color: colors-physical.$em-color;
$bottom-panel-background-color: colors-physical.$em-background-color;

$bottom-panel-border-color: $bottom-panel-color;

$button-panel-buttons-color: colors-physical.$em-color;
$button-panel-buttons-background-color: colors-physical.$em-background-color;
$bottom-panel-buttons-color: colors-physical.$em-background-color;
$bottom-panel-buttons-background-color: colors-physical.$em-color;
$alert-buttons-color: colors-physical.$em-color;
$alert-buttons-background-color: colors-physical.$em-background-color;

$paging-buttons-background-color: colors-physical.$over-em-background-color;
$paging-buttons-color: colors-physical.$over-em-color;

$disabled-buttons-color: colors-physical.$disabled-items-color;
$disabled-paging-buttons-color: colors-physical.$disabled-items-color;

$help-color: colors-physical.$less-important-color;

$subform-border-color: colors-physical.$less-important-color;

//$modified-row-background-color: $warn-background-color;

$validation-error-background-color: colors-physical.$error-background-color;
$validation-error-color: colors-physical.$error-color;

$datetime-background-color: colors-physical.$background-color;
$datetime-border-color: colors-physical.$dark-border-color;
$datetime-th-color: colors-physical.$less-important-color;
$datetime-td-color: $datetime-th-color;
$datetime-td-hover-background-color: colors-physical.$selected-item-background-color;
$datetime-td-hover-color: colors-physical.$selected-item-color;
$datetime-th-border-color: colors-physical.$soft-border-color;
$datetime-td-border-color: $datetime-th-border-color;
$datetime-today-color: colors-physical.$over-em-background-color;
$datetime-current-background-color: colors-physical.$over2-em-background-color;
$datetime-current-color: colors-physical.$over2-em-color;
