<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of containers</title>
    </head>
    <body> 
        <div data-define-macro="fieldSet">
            <fieldset data-define="viewItems container/fields">
                <legend data-content="container/title | tr:string:${container/id}_title">Legend</legend>
                <div class="zcrud-container-help" 
                      data-define="description container/description | tr:string:${container/id}_description"
                      data-content="description"
                      data-condition="description">
                    The description of this container.
                </div>
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
                <div data-define="buttons container/getToolbarButtons()"
                     data-condition="exists: buttons"
                     data-use-macro="'buttons'">
                    Buttons
                </div>
            </fieldset>
        </div>
        
        <div data-define-macro="div">
            <div data-define="viewItems container/fields">
                <div class="zcrud-container-help" 
                     data-define="description container/description | tr:string:${container/id}_description"
                     data-content="description"
                     data-condition="description">
                    The description of this container.
                </div>
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
            </div>
        </div>

        <span data-define-macro="fieldSet-compact">
            <fieldset data-define="viewItems container/fields">
                <legend data-define="legend container/title | tr:string:${container/id}_title"
                        data-condition="legend"
                        data-content="legend">Legend</legend>
                <span data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </span>
            </fieldset>
        </span>
        
        <span data-define-macro="buttons">
            <span data-repeat="button buttons">
                <button data-define="textsBundle button/getTextsBundle();
                                      title textsBundle/title;
                                      content textsBundle/content"
                        data-attributes="class string:${button/getCssClass()} ${button/id};
                                          title cond: title (cond: title/translate (tr: title/text) title/text) null;
                                          disabled button/disabled" 
                        data-content="cond: content (cond: content/translate (tr: content/text) content/text) ''">
                    Undo
                </button>
            </span>
        </span>
    </body>
</html>
