<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of containers</title>
    </head>
    <body> 
        <div data-define-macro="fieldSet">
            <fieldset data-define="viewItems container/fields">
                <legend data-content="container/title | tr:string:${container/id}_title">Legend</legend>
                <div class="zcrud-container-help" 
                      data-define="description container/description | tr:string:${container/id}_description"
                      data-content="description"
                      data-condition="description">
                    The description of this container.
                </div>
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
                <div data-define="buttons container/getToolbarButtons()"
                     data-condition="exists: buttons"
                     data-use-macro="'buttons'">
                    Buttons
                </div>
            </fieldset>
        </div>
        
        <div data-define-macro="div">
            <div data-define="viewItems container/fields">
                <div class="zcrud-container-help" 
                     data-define="description container/description | tr:string:${container/id}_description"
                     data-content="description"
                     data-condition="description">
                    The description of this container.
                </div>
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
            </div>
        </div>

        <span data-define-macro="fieldSet-compact">
            <fieldset data-define="viewItems container/fields">
                <legend data-define="legend container/title | tr:string:${container/id}_title"
                        data-condition="legend"
                        data-content="legend">Legend</legend>
                <span data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </span>
            </fieldset>
        </span>
        
        <span data-define-macro="buttons">
            <span data-repeat="button buttons">
                <button data-define="textsBundle button/getTextsBundle();
                                      title textsBundle/title;
                                      content textsBundle/content"
                        data-attributes="class string:${button/getCssClass()} ${button/id};
                                          title cond: title (cond: title/translate (tr: title/text) title/text) null;
                                          disabled button/disabled" 
                        data-content="cond: content (cond: content/translate (tr: content/text) content/text) ''">
                    Undo
                </button>
            </span>
        </span>

        <div data-define-macro="tabContainer"
             class="tabs"
             data-define="tablistId string:tablist-${composition/id}">
            <h3 data-attributes="id tablistId"
                data-define="tabContainerTitle composition/title | tr:string:${tablistId}_title">
                <span class="zcrud-tabContainer-title"
                      data-content="description"
                      data-condition="description">
                    Tab container title
                </span>
            </h3>
            <div role="tablist"
                data-attributes="aria-labelledby tablistId"
                class="automatic">

                <span data-repeat="item composition/items">
                    <button type="button"
                            aria-selected="true"
                            data-define="itemId item/container/id"
                            data-attributes="id string:tab-${itemId};
                                            role 'tab';
                                            aria-controls string:tabpanel-${itemId}">
                        <span class="focus" data-content="item/title | tr:string:${itemId}_title">
                            Item title
                        </span>
                    </button>
                </span>
            </div>
            <div>
                <div data-repeat="item composition/items">
                    <div data-define="container item/container"
                         data-use-macro="container/template">
                        The fields
                    </div>
                </div>
            </div>
        </div>

        <div data-define-macro="tabItem"
             id="tabpanel-1"
             role="tabpanel"
             tabindex="0"
             aria-labelledby="tab-1"
             class="is-hidden"
             data-attributes="id string:tabpanel-${container/id};
                              aria-labelledby string:tab-${container/id}">
             
            <div data-define="viewItems container/fields">
                <div class="zcrud-container-help"
                     data-define="description container/description | tr:string:${container/id}_description"
                     data-content="description"
                     data-condition="description">
                    The description of this container.
                </div>
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
            </div>
        </div>

        <div data-define-macro="accordionContainer" class="accordion">
            <div data-repeat="item composition/items">
                <div data-define="container item/container"
                        data-use-macro="container/template">
                    The fields
                </div>
            </div>
        </div>

        <div data-define-macro="accordionItem"
             data-define="accordionId string:accordion-${container/id};
                          sectId string:sect-${container/id}">
            <h3>
                <button type="button"
                        aria-expanded="true"
                        data-attributes="id accordionId;
                                         aria-controls sectId;
                                         class 'accordion-trigger'">
                    <span data-attributes="class 'accordion-title'"
                          data-content="item/title | tr:string:${container/id}_title">
                        Personal Information
                        <span data-attributes="class 'accordion-icon'""></span>
                    </span>
                </button>
            </h3>
            <div data-define="viewItems container/fields"
                 data-attributes="id sectId;
                                  aria-labelledby accordionId;
                                  class 'accordion-panel';
                                  role 'region'">
                <div data-use-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
            </div>
        </div>
    </body>
</html>
