<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of fields in forms</title>
    </head>
    <body> 
        <div data-define-macro="text" data-omit-tag="">
            <input data-attributes="id cond: renderIds field/elementId null;
                                     name field/name;
                                     value ( value | '' );
                                     class cond: isNotHistoryField null 'historyField';
                                     field/getAttributesFor(fieldAttributes);
                                     type field/type">
        </div>
        
        <div data-define-macro="textarea" data-omit-tag="">
            <textarea data-attributes="id cond: renderIds field/elementId null;
                                        name field/name;
                                        class cond: isNotHistoryField null 'historyField';
                                        field/getAttributesFor(fieldAttributes)"
                      data-content="cond: value value ''">The textarea value.</textarea>
        </div>
            
        <div data-define-macro="select" data-omit-tag="">
            <select data-attributes="id cond: renderIds field/elementId null;
                                      name field/name;
                                      value value;
                                      class cond: isNotHistoryField null 'historyField';
                                      field/getAttributesFor(fieldAttributes)"
                    data-define="optionsList optionsListFromForm | field/getOptionsFromRecord( record, options )">
                <option data-repeat="option optionsList"
                        data-attributes="value option/value; 
                                          selected cond: (eq: option/value value) 'selected' null"
                        data-content="cond: field/translateOptions (tr:option/displayText) option/displayText"></option>
            </select>
        </div>

        <div data-define-macro="radio" data-omit-tag=""
             data-attributes="field/getAttributesFor(fieldAttributes)">
            <div data-define="optionsList optionsListFromForm | field/getOptionsFromRecord( record, options )"
                 data-attributes="class 'zcrud-radio-container'"
                 data-domain="i18nArray">
                <div data-repeat="option optionsList">
                    <label>
                        <input type="radio"
                               data-attributes="name string:${field/name}[${data-record-index}];
                                                 value option/value;
                                                 checked cond: (eq: option/value value) 'checked' null;
                                                 class 'historyField zcrud-active';">
                        <span data-replace="cond: field/translateOptions (tr:option/displayText) option/displayText">The display text</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div data-define-macro="datalist" data-omit-tag="">
            <input data-attributes="id cond: renderIds field/elementId null;
                                     name field/name;
                                     list string:${field/elementId}-datalist;
                                     value ( value | '' );
                                     class cond: isNotHistoryField null 'historyField';
                                     field/getAttributesFor(fieldAttributes)"
                   type="text">
        </div>
        <div data-define-macro="datalist-definition">
            <datalist data-attributes="id string:${field/elementId}-datalist"
                      data-define="optionsList optionsListFromForm | field/getOptionsFromBlank( options )">
                <option data-repeat="option optionsList"
                        data-define="displayText cond: field/translateOptions (tr:option/displayText) option/displayText"
                        data-attributes="value option/value;
                                          selected cond: (eq: option/value value) 'selected' null;
                                          label displayText">&nbsp;</option>
            </datalist>
        </div>
        
        <div data-define-macro="checkbox" data-omit-tag="">
            <input data-attributes="id cond: renderIds field/elementId null;
                                     name field/name;
                                     value value;
                                     checked cond: value 'checked' null;
                                     class cond: isNotHistoryField null 'historyField';
                                     field/getAttributesFor(fieldAttributes)"
                   type="checkbox">
        </div>
        
        <div data-define-macro="checkboxes" data-omit-tag=""
             data-attributes="field/getAttributesFor(fieldAttributes)">
            <div data-define="optionsList optionsListFromForm | field/getOptionsFromRecord( record, options )"
                 data-attributes="class string:zcrud-checkboxes-container zcrud-checkboxes-container-${field/name}"
                 data-domain="i18nArray">
                <div data-repeat="option optionsList">
                    <label>
                        <input type="checkbox"
                               data-define="isChecked cond: (exists: value) (lt: -1 value/indexOf(option/value)) false"
                               data-attributes="name string:${field/name}[${data-record-index}];
                                                 value option/value;
                                                 checked cond: isChecked 'checked' null;
                                                 class 'historyField zcrud-active';">
                        <span data-replace="cond: field/translateOptions (tr:option/displayText) option/displayText">The display text</span>
                    </label>
                </div>
            </div>
        </div>
    </body>
</html>
