<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of file fields</title>
    </head>
    <body>
        <div data-define-macro="fileUpload" data-omit-tag="">            
            <div data-define="inlinePart cond: field/inline ' inline' ''"
                 data-attributes="class string:fileUpload${inlinePart}">
                <div>
                    <div data-use-macro="'currentFilePart'"><!--empty--></div>
                    <div data-use-macro="'inputPart'"><!--empty--></div>
                    <div data-use-macro="'dropPart'"><!--empty--></div>
                </div>
            </div>
        </div>
        
        <div data-define-macro="currentFilePart" data-omit-tag="">
            <div class="currentFile">
                <div class="subtitle" data-content="tr:'currentFile'">Current file</div>
                <div class="fileName" data-condition="value">
                    <a data-attributes="href value/contents | value/url;
                                        download value/name">
                       <span data-content="value/name"></span>
                       (<span data-content="u/formatFileSize( value/size )"></span>)
                    </a>
                </div>
                <div class="fileName" data-condition="not:value">
                    <span data-content="tr:'noCurrentFile'"></span>
                </div>
            </div>
        </div>
        
        <div data-define-macro="inputPart" data-omit-tag="">
            <div class="input"
                 data-attributes="style cond: field/inline 'display: none;' null">
                <input data-attributes="id cond: renderIds field/elementId null;
                                         name field/name;
                                         class cond: isNotHistoryField null 'historyField';
                                         data-fieldValidation 'fileUpload';
                                         field/getAttributesFor(fieldAttributes)"
                       type="file"
                       style="display:none">
            </div>
        </div>

        <div data-define-macro="dropPart" data-omit-tag="">
            <div class="drop">
                <div class="newFile" data-domain="i18nArray">
                    <div class="subtitle" data-content="tr:'newFile'">Current file</div>
                    <div class="fileName" data-condition="newFile">
                        <span data-content="newFile/name"></span>
                        (<span data-content="u/formatFileSize( newFile/size )"></span>)
                    </div>
                    <div class="fileName" data-condition="not:newFile">
                        <span data-content="tr:'noNewFile'"></span>
                    </div>
                    <div class="dropText" data-content="tr:'fileDragAndDropText'"></div>
                </div>
            </div>
        </div>
    </body>
</html>
