<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of subforms</title>
    </head>
    <body>
        <div data-define-macro="subform" data-omit-tag="">
            <div data-use-macro="'filterPanel@templates/lists.html'"
                 data-define="instance field"
                 data-condition="instance/getComponent( 'filtering' )">
                The bottom panel
            </div>
            
            <div class="zcrud-subform-content"
                 data-define="instance field;
                               pagingComponent instance/getComponent( 'paging' )">
                <div data-use-macro="'table@templates/lists.html'"
                     data-define="editable true;
                                   records value">
                    The ZCrud table
                </div>
                
                <div data-use-macro="'pagingPanel@templates/lists.html'"
                     data-condition="pagingComponent">
                    The bottom panel
                </div>
                <div class="zcrud-subform-toolbar"
                     data-condition="not: pagingComponent">
                    <span data-use-macro="'toolbar'"
                          data-define="buttons instance/getToolbarButtons()">
                        The buttons of the toolbar
                    </span>
                </div>
            </div>
        </div>
        
        <div data-define-macro="view" data-omit-tag="">
            <div data-use-macro="'filterPanel@templates/lists.html'"
                 data-define="instance field"
                 data-condition="instance/getComponent( 'filtering' )">
                The bottom panel
            </div>
            
            <div class="zcrud-subform-content"
                 data-define="instance field;
                               pagingComponent instance/getComponent( 'paging' )">
                <div data-use-macro="'table@templates/lists.html'"
                     data-define="editable false;
                                   records value;
                                   renderIds false">
                    The ZCrud table
                </div>
                
                <div data-use-macro="'pagingPanel@templates/lists.html'"
                     data-condition="pagingComponent">
                    The bottom panel
                </div>
            </div>
        </div>

    </body>
</html>
