<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of fields in forms</title>
    </head>
    <body> 
        <div data-mdefine-macro="text" data-tomit-tag="">
            <input data-tattributes="id elementId; name elementName; value value; field/formFieldAttributes"
                   type="text">
        </div>
        
        <div data-mdefine-macro="textarea" data-tomit-tag="">
            <textarea data-tattributes="id elementId; name elementName; field/formFieldAttributes"
                      data-tcontent="cond: value value ''">The textarea value.</textarea>
        </div>
        
        <div data-mdefine-macro="datetime" data-tomit-tag="">
            <input data-tattributes="id elementId; name elementName; value value; field/formFieldAttributes"
                   type="text">
        </div>
            
        <div data-mdefine-macro="select" data-tomit-tag="">
            <select data-tattributes="id elementId; name elementName; value value; field/formFieldAttributes"
                    data-tdefine="optionsList record/_optionsList">
                <option data-trepeat="option optionsList[ field/id ]"
                        data-tattributes="value option/value; selected cond: (eq: option/value value) 'selected' null"
                        data-tcontent="cond: field/translateOptions (tr:option/displayText) option/displayText"
                        label="label"></option>
            </select>
        </div>

        <div data-mdefine-macro="radio" data-tomit-tag=""
             data-tattributes="id elementId; field/formFieldAttributes">
            <div data-trepeat="option field/optionsList">
                <input type="radio"
                       data-tattributes="name string:${elementName}[${data-record-index}];
                                         value option/value; 
                                         checked cond: (eq: option/value value) 'checked' null">
                <span data-treplace="cond: field/translateOptions (tr:option/displayText) option/displayText">The display text</span>
            </div>
        </div>
        
        <div data-mdefine-macro="datalist"
             data-tdefine="datalistId string:${elementId}-datalist">
            <input data-tattributes="id elementId; name elementName; list string:${elementId}-datalist; value value; field/formFieldAttributes"
                   type="text">
            <datalist data-tattributes="id string:${elementId}-datalist">
                <option data-trepeat="option field/optionsList"
                        data-tdefine="displayText cond: field/translateOptions (tr:option/displayText) option/displayText"
                        data-tattributes="value option/value;
                                          selected cond: (eq: option/value value) 'selected' null;
                                          label displayText"
                        data-tcontent="displayText"
                        label=""></option>
            </datalist>
        </div>

        <div data-mdefine-macro="checkbox" data-tomit-tag="">
            <input data-tattributes="id elementId; name elementName; value value; checked cond: value 'checked' null; field/formFieldAttributes"
                   type="checkbox">
        </div>
    </body>
</html>
