<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of fields in forms</title>
    </head>
    <body> 
        <div data-mdefine-macro="text" data-tomit-tag="">
            <input data-tattributes="id cond: renderIds field/elementId null;
                                     name field/id; 
                                     value value; 
                                     field/formFieldAttributes"
                   type="text">
        </div>
        
        <div data-mdefine-macro="textarea" data-tomit-tag="">
            <textarea data-tattributes="id cond: renderIds field/elementId null;
                                        name field/id; 
                                        field/formFieldAttributes"
                      data-tcontent="cond: value value ''">The textarea value.</textarea>
        </div>
        
        <div data-mdefine-macro="datetime" data-tomit-tag="">
            <input data-tattributes="id cond: renderIds field/elementId null;
                                     name field/id; 
                                     value value; 
                                     field/formFieldAttributes"
                   type="text">
        </div>
            
        <div data-mdefine-macro="select" data-tomit-tag="">
            <select data-tattributes="id cond: renderIds field/elementId null;
                                      name field/id; 
                                      value value; 
                                      field/formFieldAttributes"
                    data-tdefine="optionsList optionsListFromForm || optionListProviderManager/getOptionsFromRecord( record, field, options )">
                <option data-trepeat="option optionsList"
                        data-tattributes="value option/value; 
                                          selected cond: (eq: option/value value) 'selected' null"
                        data-tcontent="cond: field/translateOptions (tr:option/displayText) option/displayText">&nbsp;</option>
            </select>
        </div>

        <div data-mdefine-macro="radio" data-tomit-tag=""
             data-tattributes="field/formFieldAttributes">
            <div data-tdefine="optionsList optionsListFromForm || optionListProviderManager/getOptionsFromRecord( record, field, options )">
                <div data-trepeat="option optionsList">
                    <label>
                        <input type="radio"
                               data-tattributes="name string:${field/id}[${data-record-index}];
                                                 value option/value; 
                                                 checked cond: (eq: option/value value) 'checked' null">
                        <span data-treplace="cond: field/translateOptions (tr:option/displayText) option/displayText">The display text</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div data-mdefine-macro="datalist" data-tomit-tag="">
            <input data-tattributes="id cond: renderIds field/elementId null;
                                     name field/id; 
                                     list string:${field/elementId}-datalist; 
                                     value value; 
                                     field/formFieldAttributes"
                   type="text">
        </div>
        <div data-mdefine-macro="datalist-definition">
            <datalist data-tattributes="id string:${field/elementId}-datalist"
                      data-tdefine="optionsList optionsListFromForm || optionListProviderManager/getOptionsFromRecord( record, field, options )">
                <option data-trepeat="option optionsList"
                        data-tdefine="displayText cond: field/translateOptions (tr:option/displayText) option/displayText"
                        data-tattributes="value option/value;
                                          selected cond: (eq: option/value value) 'selected' null;
                                          label displayText">&nbsp;</option>
            </datalist>
        </div>
        
        <div data-mdefine-macro="checkbox" data-tomit-tag="">
            <input data-tattributes="id cond: renderIds field/elementId null;
                                     name field/id; 
                                     value value; 
                                     checked cond: value 'checked' null; 
                                     field/formFieldAttributes"
                   type="checkbox">
        </div>
        
    </body>
</html>
