<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of subforms</title>
    </head>
    <body>
        <div data-mdefine-macro="subform" data-tomit-tag="">
            <div data-muse-macro="'filterPanel@templates/lists.html'"
                 data-tdefine="instance field"
                 data-tcondition="instance/getComponent( 'filtering' )">
                The bottom panel
            </div>
            
            <div class="zcrud-subform-content"
                 data-tdefine="instance field;
                               pagingComponent instance/getComponent( 'paging' )">
                <div data-muse-macro="'table@templates/lists.html'"
                     data-tdefine="editable true;
                                   records value">
                    The ZCrud table
                </div>
                
                <div data-muse-macro="'pagingPanel@templates/lists.html'"
                     data-tcondition="pagingComponent">
                    The bottom panel
                </div>
                <div class="zcrud-subform-toolbar"
                     data-tcondition="not: pagingComponent">
                    <button class="zcrud-new-row-command-button" 
                            data-tattributes="title tr:'Add new record'" 
                            data-tcondition="field/buttons/toolbar/newRegisterRow"><!--empty--></button>
                </div>
            </div>
        </div>
        
        <div data-mdefine-macro="view" data-tomit-tag="">
            <div class="zcrud-subform-content"
                 data-tdefine="instance field;
                               pagingComponent instance/getComponent( 'paging' )">
                <div data-muse-macro="'table@templates/lists.html'"
                     data-tdefine="editable false;
                                   records value;
                                   renderIds false;
                                   hideRowButtons true">
                    The ZCrud table
                </div>
                
                <div data-muse-macro="'pagingPanel@templates/lists.html'"
                     data-tcondition="pagingComponent">
                    The bottom panel
                </div>
            </div>
        </div>

    </body>
</html>
