<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of containers</title>
    </head>
    <body> 
        <div data-mdefine-macro="fieldSet">
            <fieldset data-tdefine="viewItems container/fields">
                <legend data-tcontent="container/title || tr:string:${container/id}_title">Legend</legend>
                <div class="zcrud-container-help" 
                      data-tdefine="description container/description || tr:string:${container/id}_description"
                      data-tcontent="description"
                      data-tcondition="description">
                    The description of this container.
                </div>
                <div data-muse-macro="'viewItemsInForm2'">
                    The fields
                </div>
            </fieldset>
        </div>
        
        <div data-mdefine-macro="div">
            <div data-tdefine="viewItems container/fields">
                <div class="zcrud-container-help" 
                     data-tdefine="description container/description || tr:string:${container/id}_description"
                     data-tcontent="description"
                     data-tcondition="description">
                    The description of this container.
                </div>
                <div data-muse-macro="'viewItemsInForm2'">
                    The fields
                </div>
            </div>
        </div>
        
        <div data-mdefine-macro="viewItemsInForm2">
            <div data-trepeat="viewItem viewItems"
                 data-tdefine="isContainer2 (eq: viewItem/type 'fieldContainer')">
                <div data-tcondition="isContainer2">
                    <div data-tdefine="container viewItem">
                        <div data-muse-macro="container/template">
                            The container
                        </div>
                    </div>
                </div>
                <div data-tcondition="not: isContainer2">
                    <div data-tdefine="field viewItem;
                                       id field/id; 
                                       value record[ id ]"
                         data-tattributes="class string:zcrud-field zcrud-field-${id} zcrud-like-field-${field/name}">
                        <label data-tomit-tag="instance/mustHideLabel( field )">
                            <span class="zcrud-field-label" data-tcontent="field/title || tr:string:${id}_title">
                                The label of this field.
                            </span>
                            <span class="zcrud-field-help" data-tcontent="field/description || tr:string:${id}_description">
                                The description of this field.
                            </span>
                            <span data-muse-macro="field/template">
                                The field
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
