<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of containers</title>
    </head>
    <body> 
        <div data-mdefine-macro="fieldSet">
            <fieldset data-tdefine="viewItems container/fields">
                <legend data-tcontent="container/title || tr:string:${container/id}_title">Legend</legend>
                <div class="zcrud-container-help" 
                      data-tdefine="description container/description || tr:string:${container/id}_description"
                      data-tcontent="description"
                      data-tcondition="description">
                    The description of this container.
                </div>
                <div data-muse-macro="'viewItemsInForm@templates/forms.html'">
                    The fields
                </div>
            </fieldset>
        </div>
        
        <div data-mdefine-macro="div">
            <div data-tdefine="viewItems container/fields">
                <div class="zcrud-container-help" 
                     data-tdefine="description container/description || tr:string:${container/id}_description"
                     data-tcontent="description"
                     data-tcondition="description">
                    The description of this container.
                </div>
                <div data-muse-macro="'viewItemsInForm@templates/forms.html'">
                    The fields
                </div>
            </div>
        </div>
        
    </body>
</html>
