<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of forms</title>
    </head>
    <body>
        <div data-mdefine-macro="formTemplate" 
             class="zcrud-main-container" 
             style="display: none">
            
            <div data-tattributes="id 'zcrud-message'"></div>
            <div class="zcrud-header"> 
                <span class="zcrud-title" data-tcontent="options/title">
                    The title option
                </span>
                <span data-tcontent="options/currentForm/title">
                    Current form title
                </span>
                (customized)
            </div>
            <form class="zcrud-form" id="zcrud-form">
                <input type="hidden"
                       name="zcRecordKey" 
                       data-tattributes="id 'zcRecordKey'; value record[ options/key ]" >
                
                <div class="zcrud-field">
                    <div>
                        <label for="zcrud-id">
                            Id
                        </label>
                    </div>
                    <div class="zcrud-field-help">
                        The unique id of the department.
                    </div>
                    <input type="text"
                           placeholder="" 
                           name="id" 
                           data-tattributes="id 'zcrud-id'; value record/id">
                </div>
                
                <div class="zcrud-field">
                    <div>
                        <label for="zcrud-name">
                            Name
                        </label>
                    </div>
                    <div class="zcrud-field-help">
                        The name of the department.
                    </div>
                    <input type="text"
                           placeholder="" 
                           name="name" 
                           data-tattributes="id 'zcrud-name'; value record/name"
                           data-validation="length"
                           data-validation-length="3-12" 
		                   data-validation-error-msg="Name has to be 3-12 chars">
                </div>
            </form>
            <div class="zcrud-button-panel">
                <button type="button" data-tattributes="id 'form-cancel-button'">
                    Cancel
                </button>
                <button type="button" data-tattributes="id 'form-submit-button'">
                    Save
                </button>
            </div>
        </div>
        
        <div data-mdefine-macro="deleteTemplate" 
             class="zcrud-main-container" 
             style="display: none">
            
            <div data-tattributes="id 'zcrud-message'"></div>
            <div class="zcrud-header"> 
                <span class="zcrud-title" data-tcontent="options/title">
                    The title option
                </span>
                <span data-tcontent="options/currentForm/title">
                    Current form title
                </span>
                (customized)
            </div>
            <form class="zcrud-form">
                <input type="hidden"
                       name="zcRecordKey" 
                       data-tattributes="id 'zcrud-recordKey'; value record[ options/key ]" >
                
                <div class="zcrud-field">
                    <div>
                        <label for="zcrud-id">
                            Id
                        </label>
                    </div>
                    <div class="zcrud-field-help">
                        The unique id of the department.
                    </div>
                    <div class="zcrud-property" data-tcontent="record/id">
                        The id
                    </div>
                </div>
                
                <div class="zcrud-field">
                    <div>
                        <label for="zcrud-id">
                            Name
                        </label>
                    </div>
                    <div class="zcrud-field-help">
                        The name of the department.
                    </div>
                    <div class="zcrud-property" data-tcontent="record/name">
                        The name
                    </div>
                </div>
            </form>
            <div class="zcrud-button-panel">
                <button type="button" data-tattributes="id 'form-cancel-button'">
                    Cancel
                </button>
                <button type="button" data-tattributes="id 'form-submit-button'">
                    Delete
                </button>
            </div>
        </div>
    </body>
</html>
