<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of forms</title>
    </head>
    <body>
        <div data-mdefine-macro="formDefaultTemplate" 
             style="display: none"
             data-tattributes="class string:zcrud-main-container zcrud-${instance/getType()}-form;
                               id string:${options/entityId}-form"
             data-idomain="i18nArray">
            
            <div data-tattributes="id 'zcrud-message'"><!--empty--></div>
            <div class="zcrud-header"> 
                <span class="zcrud-title" data-tcontent="options/title || tr:'general_entityName'">
                    The title option
                </span>
                <span data-tcontent="tr: instance/getTitle()">
                    Current form title
                </span>
                <span data-tcontent="tr:'(default)'">
                    (default)
                </span>
            </div>
            <form class="zcrud-form zcrud-data-entity" 
                  data-tattributes="id instance/getId()"
                  data-tdefine="viewItemsInFormExternalMacro 'standard-editable@templates/fieldLists.html';
                                data-record-index 0;
                                renderIds false;
                                viewItems instance/getView()">
                <input type="hidden"
                       name="zcRecordKey" 
                       data-tattributes="id 'zcrud-recordKey'; value record[ options/key ]">
                <div data-muse-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
                <div class="zcrud-post-templates">
                    <div data-trepeat="field instance/getFields()"
                         data-tdefine="postTemplate field/getPostTemplate()">
                        <div data-tcondition="postTemplate" data-muse-macro="postTemplate"><!--empty--></div>
                    </div>
                </div>
                <div class="zcrud-button-panel" data-tdefine="toolbar instance/getThisOptions()/buttons/toolbar">
                    <button type="button" 
                            class="zcrud-form-cancel-command-button"
                            data-tcontent="tr:'Cancel'">
                        Cancel
                    </button>
                    <button type="button" 
                            class="zcrud-form-submit-command-button"
                            data-tcontent="tr:'Save'">
                        Save
                    </button>
                    <button class="zcrud-undo-command-button" 
                            data-tcontent="tr:'Undo'"  
                            data-tcondition="toolbar/undo"
                            disabled>
                        Undo
                    </button>
                    <button class="zcrud-redo-command-button" 
                            data-tcontent="tr:'Redo'" 
                            data-tcondition="toolbar/redo"
                            disabled>
                        Redo
                    </button>
                    <span data-tdefine="toolbarExtension instance/getThisOptions()/buttons/toolbarExtension"
                          data-tcondition="toolbarExtension"
                          data-muse-macro="toolbarExtension">
                        Customized toolbar extension
                    </span>
                </div>
            </form>
        </div>
        
        <div data-mdefine-macro="deleteDefaultTemplate" 
             class="zcrud-main-container zcrud-delete-form" 
             style="display: none"
             data-tattributes="id string:${options/entityId}-form"
             data-idomain="i18nArray">
            
            <div data-tattributes="id 'zcrud-message'"><!--empty--></div>
            <div class="zcrud-header"> 
                <span class="zcrud-title" data-tcontent="options/title || tr:'general_entityName'">
                    The title option
                </span>
                <span data-tcontent="tr: instance/getTitle()">
                    Current form title
                </span>
                <span data-tcontent="tr:'(default)'">
                    (default)
                </span>
            </div>
            <form class="zcrud-form" 
                  data-tattributes="id instance/getId()"
                  data-tdefine="viewItemsInFormExternalMacro 'standard-readOnly@templates/fieldLists.html';
                                viewItems instance/getView()">
                <input type="hidden"
                       name="zcRecordKey" 
                       data-tattributes="id 'zcRecordKey'; value record[ options/key ]">
                <div data-muse-macro="viewItemsInFormExternalMacro">
                    The fields
                </div>
                <div class="zcrud-button-panel">
                    <button type="button" 
                            class="zcrud-form-cancel-command-button"
                            data-tcontent="tr:'Cancel'">
                        Cancel
                    </button>
                    <button type="button" 
                            class="zcrud-form-submit-command-button"
                            data-tcontent="tr:'Save'">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
