<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of lists</title>
    </head>
    <body>
        <div data-mdefine-macro="listDefaultTemplate" 
             class="zcrud-main-container" 
             style="display: none"
             data-tattributes="id options/currentList/id"
             data-idomain="i18nArray">
            
            <div class="zcrud-header">
                <span class="zcrud-title"
                      data-tcontent="options/title || tr:'general_entityName'">
                    The title option
                </span>
                <span data-tcontent="tr:'(default)'">
                    (default)
                </span>
                <span class="zcrud-toolbar">
                    <button title="New record" class="zcrud-new-command-button"></button>
                </span>

                <div data-muse-macro="'filterPanel'"
                     data-tcondition="options/filtering/isOn">
                    The filter panel
                </div>
                
                <div class="zcrud-status">
                    <span data-tcontent="tr: 'Status:'">Status:</span>
                    <span data-tcondition="status">
                        <span data-tattributes="id 'zcrud-message'"
                              data-tcondition="status/message"
                              data-tcontent="tr: status/message">Operation done!</span>
                        <span data-tattributes="id 'zcrud-message-time'"
                              data-tcondition="status/date"
                              data-tcontent="string:(${status/date})">(14:23)</span>
                    </span>
                </div>
            </div>
            <table class="zcrud" 
                   data-idomain="i18nArray"
                   data-tattributes="id options/currentList/tableId">
                <thead data-tdefine="sortingComponent options/sorting/component;
                                     selectingCheckbox and: options/selecting/isOn (lt: -1 options/selecting/mode/indexOf('checkbox'))">
                    <tr>
                        <th data-tcondition="selectingCheckbox">
                            <input class="zcrud-select-all-rows" type="checkbox">
                        </th>
                        <th data-trepeat="field options/currentList/fields" 
                            data-tdefine="sortingOn and: sortingComponent field/sorting;
                                          sortablePart cond: sortingOn ' zcrud-column-header-sortable' '';
                                          sortType cond: sortingComponent sortingComponent/getTypeForFieldId( field/id ) null;
                                          sortTypePart cond: (and: sortingOn (exists:sortType)) (string: zcrud-column-header-sorted-${sortType}) ''"
                            data-tattributes="style cond: field/width (string:width:${field/width}) null;
                                              class string:zcrud-column-header zcrud-column-header-${field/id}${sortablePart}${sortTypePart};
                                              data-sort-field-id field/id;
                                              data-sort-type sortType">
                            <span data-treplace="field/title || tr:string:${field/id}_title">Field title</span>
                        </th>
                        <th class="zcrud-command-column-header"></th>
                        <th class="zcrud-command-column-header"></th>
                    </tr>
                </thead>
                <tbody data-tattributes="id options/currentList/tbodyId"
                       data-tdefine="selectingCheckbox and: options/selecting/isOn (lt: -1 options/selecting/mode/indexOf('checkbox'))">
                    <tr data-trepeat="record records"
                        data-tattributes="data-record-key record[ options/key ];
                                          class 'zcrud-data-row'">
                        <td data-tcondition="selectingCheckbox">
                            <input class="zcrud-select-row" type="checkbox">
                        </td>
                        <td data-trepeat="field options/currentList/fields"
                            data-tcontent="record[ field/id ]"
                            data-tattributes="class string:zcrud-column-data zcrud-column-data-${field/id}">
                            Field value
                        </td>
                        <td>
                            <button title="Edit record" class="zcrud-edit-command-button"></button>
                        </td>
                        <td>
                            <button title="Delete record" class="zcrud-delete-command-button"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="zcrud-column-resize-bar" style="display: none"></div>
            <div class="zcrud-column-selection-container" style="display: none"></div>
            <div data-muse-macro="'bottomPanel'"
                 data-tcondition="options/paging/isOn">
                The bottom panel
            </div>
            <div class="zcrud-busy" data-tattributes="id 'zcrud-busy'" style="display: none" class="zcrud-busy"></div>
        </div>
        
        <div data-mdefine-macro="filterPanel" 
             class="zcrud-filter-panel"
             data-tdefine="component options/filtering/component;
                           thisOptions component/getThisOptions()"
             data-tattributes="id thisOptions/filteringComponentId"
             data-idomain="i18nArray">
            
            <span data-trepeat="field thisOptions/fields"
                  data-tdefine="id field/id; value ''; elementId field/elementId"
                  data-tattributes="class string:zcrud-filter-field zcrud-filter-field-${id}">
                <span>
                    <label data-tattributes="for field/labelFor" data-tcontent="field/title || tr:string:${id}_title">
                        The id of the field
                    </label>
                </span>
                <span data-muse-macro="field/template">
                    The field
                </span>
            </span>
            <button type="button" 
                    data-tattributes="class 'zcrud-filter-submit-button'"
                    data-tcontent="tr:'Filter'">
                Filter
            </button>
        </div>
        
        <div data-mdefine-macro="bottomPanel" 
             class="zcrud-bottom-panel"
             data-tdefine="component options/paging/component;
                           pagingInfo component/buildInfo();
                           currentPageNumber pagingInfo/pageNumber;
                           pageListInfo pagingInfo/pageListInfo;
                           block1OfPages pageListInfo/block1OfPages;
                           block2OfPages pageListInfo/block2OfPages;
                           block3OfPages pageListInfo/block3OfPages;
                           firstSuffix cond: pagingInfo/isFirstPage ' zcrud-page-number-disabled' '';
                           lastSuffix cond: pagingInfo/isLastPage ' zcrud-page-number-disabled' '';
                           thisOptions component/getThisOptions()"
             data-tattributes="id component/getId()"
             data-idomain="i18nArray">
            
            <div class="zcrud-left-area">
                <span class="zcrud-page-list">
                    <span data-tattributes="class string:zcrud-page-number-first${firstSuffix}"
                          data-page="1">&lt;&lt;</span>
                    <span data-tattributes="class string:zcrud-page-number-previous${firstSuffix};
                                            data-page (-: currentPageNumber 1)">&lt;</span>
                    <span data-trepeat="pageNumber block1OfPages" 
                          data-tdefine="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-tattributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-tcontent="pageNumber">
                          1
                    </span>
                    <span class="zcrud-page-number-space" data-tcondition="lt: 0 block2OfPages/length">...</span>
                    <span data-trepeat="pageNumber block2OfPages" 
                          data-tdefine="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-tattributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-tcontent="pageNumber">
                          10
                    </span>
                    <span class="zcrud-page-number-space" data-tcondition="lt: 0 block3OfPages/length">...</span>
                    <span data-trepeat="pageNumber block3OfPages" 
                          data-tdefine="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-tattributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-tcontent="pageNumber">
                          25
                    </span>
                    <span data-tattributes="class string:zcrud-page-number-next${lastSuffix};
                                            data-page (+: currentPageNumber 1)">&gt;</span>
                    <span data-tattributes="class string:zcrud-page-number-last${lastSuffix};
                                            data-page pagingInfo/numberOfPages">&gt;&gt;</span>
                </span>
                <span class="zcrud-goto-page">
                    <span data-tcontent="tr:'Go to page:'">Go to page: </span>
                    <select data-tdefine="goToPageList pagingInfo/goToPageList;
                                          currentPageNumber pagingInfo/pageNumber"
                            data-tattributes="id thisOptions/goToPageComboboxId">
                        <option data-trepeat="pageNumber goToPageList"
                                data-tattributes="value pageNumber; selected cond: (eq: pageNumber currentPageNumber) 'selected' null"
                                data-tcontent="pageNumber"
                                label="label"></option>
                    </select>
                </span>
                <span class="zcrud-page-size-change">
                    <span data-tcontent="tr:'Row count:'">Row count: </span>
                    <select data-tdefine="currentPageSize component/getPageSize()"
                            data-tattributes="id thisOptions/pageSizeChangeComboboxId">
                        <option data-trepeat="pageSize component/getPageSizes()"
                                data-tattributes="value pageSize; selected cond: (eq: pageSize currentPageSize) 'selected' null"
                                data-tcontent="pageSize"
                                label="label"></option>
                    </select>
                </span>
            </div>
            <div class="zcrud-right-area">
                <span class="zcrud-page-info" 
                      data-tcontent="tr:'pagingMessage' ( first pagingInfo/first; last pagingInfo/last; total pagingInfo/totalNumberOfRecords )">
                    Showing 126-128 of 128
                </span>
            </div>
        </div>
    </body>
</html>
