<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of lists</title>
    </head>
    <body>
        <div data-mdefine-macro="listDefaultTemplate" 
             class="zcrud-main-container" 
             style="display: none"
             data-tattributes="id string:${options/entityId}-list">
            
            <div class="zcrud-header">
                <span class="zcrud-title"
                      data-tcontent="options/title">
                    The title option
                </span>
                (default)
                <span class="zcrud-toolbar">
                    <button title="New record" class="zcrud-new-command-button"></button>
                </span>
                <div class="zcrud-status">
                    Status:
                    <span data-tcondition="status">
                        <span data-tattributes="id 'zcrud-message'"
                              data-tcondition="status/message"
                              data-tcontent="status/message">Operation done!</span>
                        <span data-tattributes="id 'zcrud-message-time'"
                              data-tcondition="status/date"
                              data-tcontent="string:(${status/date})">(14:23)</span>
                    </span>
                </div>
            </div>
            <table class="zcrud">
                <thead>
                    <tr>
                        <th data-trepeat="field options/currentList/fields" 
                            data-tattributes="style cond: field/width (string:width:${field/width}) null;
                                              class string:zcrud-column-header zcrud-column-header-${field/id}">
                            <span data-treplace="field/title">Field title</span>
                        </th>
                        <th class="zcrud-command-column-header"></th>
                        <th class="zcrud-command-column-header"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-trepeat="record records"
                        data-tattributes="data-record-key record[ options/key ]">
                        <td data-trepeat="field options/currentList/fields"
                            data-tcontent="record[ field/id ]"
                            data-tattributes="class string:zcrud-column-data zcrud-column-data-${field/id}">
                            Field value
                        </td>
                        <td>
                            <button title="Edit record" class="zcrud-edit-command-button"></button>
                        </td>
                        <td>
                            <button title="Delete record" class="zcrud-delete-command-button"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="zcrud-column-resize-bar" style="display: none"></div>
            <div class="zcrud-column-selection-container" style="display: none"></div>
            <div data-muse-macro="'bottomPanel@templates/lists.html'">
                The bottom panel
            </div>
        </div>
        
        <div data-mdefine-macro="bottomPanel" class="zcrud-bottom-panel">
            <div class="zcrud-left-area">
                <span class="zcrud-page-list">
                    <span class="zcrud-page-number-first">&lt;&lt;</span>
                    <span class="zcrud-page-number-previous">&lt;</span>
                    <span class="zcrud-page-number">1</span>
                    <span class="zcrud-page-number">2</span>
                    <span class="zcrud-page-number-space">...</span>
                    <span class="zcrud-page-number">5</span>
                    <span class="zcrud-page-number zcrud-page-number-active zcrud-page-number-disabled">6</span>
                    <span class="zcrud-page-number-next zcrud-page-number-disabled">&gt;</span>
                    <span class="zcrud-page-number-last zcrud-page-number-disabled">&gt;&gt;</span>
                </span>
                <span class="zcrud-goto-page">
                    <span>Go to page: </span>
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </span>
                <span class="zcrud-page-size-change">
                    <span>Row count: </span>
                    <select>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                </span>
            </div>
            <div class="zcrud-right-area">
                <span class="zcrud-page-info">
                    Showing 126-128 of 128
                </span>
            </div>
        </div>
        
    </body>
</html>
