<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of field lists</title>
    </head>
    <body>        
        <span data-define-macro="compact-editable">
            <span data-repeat="viewItem viewItems"
                  data-define="isContainer (eq: viewItem/type 'fieldContainer')">
                <span data-condition="isContainer">
                    <span data-define="container viewItem">
                        <span data-use-macro="container/template">
                            The container
                        </span>
                    </span>
                </span>
                <span data-condition="not: isContainer"
                      data-define="field viewItem;
                                    value '';
                                    spanFieldClass spanFieldClass | 'fieldList'"
                      data-attributes="class string:${spanFieldClass} ${spanFieldClass}-${id}">
                    <label>
                        <span data-content="field/title | tr:string:${field/id}_title"
                              data-attributes="class 'zcrud-label';
                                                title field/description | tr:string:${field/id}_description">
                            The id of the field
                        </span>
                        <span data-use-macro="field/template">
                            The field
                        </span>
                    </label>
                </span>
            </span>
        </span>
        
        <div data-define-macro="standard-editable">
            <div data-repeat="viewItem viewItems"
                 data-define="isContainer (eq: viewItem/type 'fieldContainer')">
                <div data-condition="isContainer">
                    <div data-define="container viewItem">
                        <div data-use-macro="container/template">
                            The container
                        </div>
                    </div>
                </div>
                <div data-condition="not: isContainer">
                    <div data-define="field viewItem;
                                       id field/id; 
                                       value record[ id ]"
                         data-attributes="class string:${spanFieldClass} ${spanFieldClass}-${id} zcrud-like-field-${field/name}">
                        <label data-omit-tag="field/mustHideLabel()">
                            <span class="zcrud-field-label" data-content="field/title | tr:string:${id}_title">
                                The label of this field.
                            </span>
                            <span class="zcrud-field-help" data-content="field/description | tr:string:${id}_description">
                                The description of this field.
                            </span>
                            <span data-use-macro="cond: (or: forceEditable (not: field/isReadOnly())) field/template field/viewTemplate">
                                The field
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div data-define-macro="standard-readOnly">
            <div data-repeat="viewItem viewItems"
                 data-define="isContainer (eq: viewItem/type 'fieldContainer')">
                <div data-condition="isContainer">
                    <div data-define="container viewItem">
                        <div data-use-macro="container/template">
                            The container
                        </div>
                    </div>
                </div>
                <div data-condition="not: isContainer">
                    <div data-define="field viewItem;
                                       id field/id; 
                                       value record[ id ];
                                       template field/viewTemplate"
                         data-attributes="class string:${spanFieldClass} ${spanFieldClass}-${id}">
                        <div data-content="field/title | tr:string:${id}_title" class="zcrud-field-label">
                            The name of the field
                        </div>
                        <div class="zcrud-field-help" data-content="field/description | tr:string:${id}_description">
                            The description of this field.
                        </div>
                        <div data-condition="not: template" 
                             data-content="cond: ( eq: value undefined ) ( tr:'undefinedValueToShow' ) field/getViewValueFromRecord( record )"
                             class="zcrud-property">
                            The value
                        </div>
                        <div data-condition="template" data-use-macro="template">
                            The field
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
