<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Templates of lists</title>
    </head>
    <body>
        <div data-define-macro="listDefaultTemplate" 
             class="zcrud-main-container" 
             style="display: none"
             data-attributes="id instance/getThisOptions()/id"
             data-domain="i18nArray">
            
            <form data-omit-tag="not: exists: instance/getComponent( 'editing' )"
                  data-attributes="id instance/getThisOptions()/formId">
                <div class="zcrud-header">
                    <div class="zcrud-header-title">
                        <span class="zcrud-title"
                              data-content="options/title | tr:'general_entityName'">
                            The title option
                        </span>
                    </div>

                    <div data-use-macro="'filterPanel'"
                         data-condition="instance/getComponent( 'filtering' )">
                        The filter panel
                    </div>
                    
                    <div data-use-macro="'status'"
                         data-condition="instance/getThisOptions()/showStatus">
                        The status message
                    </div>
                </div>
                
                <div data-use-macro="'table'"
                     data-define="fieldAttributes 'field'">
                    The ZCrud table
                </div>

                <div data-use-macro="'postTemplates'">
                    The post templates
                </div>
                
                <div data-use-macro="'pagingPanel'"
                     data-condition="instance/getComponent( 'paging' )">
                    The bottom panel
                </div>
            </form>
        </div>
        
        <span data-define-macro="toolbar">
            <span data-repeat="button buttons">
                <button data-define="textsBundle button/getTextsBundle();
                                      title textsBundle/title;
                                      content textsBundle/content"
                        data-attributes="class string:${button/getCssClass()} ${button/id};
                                          title cond: title (cond: title/translate (tr: title/text) title/text) null;
                                          disabled button/disabled" 
                        data-content="cond: content (cond: content/translate (tr: content/text) content/text) ''">
                    Undo
                </button>
            </span>
        </span>
        
        <div data-define-macro="postTemplates" 
             class="zcrud-post-templates">
            
            <div data-use-macro="'postTemplates-fields'"
                 data-define="fields instance/getFields()">
                The post templates
            </div>
        </div>
        
        <div data-define-macro="postTemplates-fields">
            <div data-repeat="field fields"
                 data-define="fieldsInside field/getFields()">
                <div data-condition="fieldsInside">
                    <div data-use-macro="'postTemplates-fields'"
                         data-define="fields fieldsInside">
                        The post templates
                    </div>
                </div>
                <div data-condition="not: fieldsInside">
                    <div data-define="postTemplate field/getPostTemplate()"
                         data-condition="postTemplate">
                        <div data-use-macro="postTemplate"><!--empty--></div>
                    </div>
                </div>
            </div>
        </div>
        
        <table data-define-macro="table" 
               class="zcrud"
               data-domain="i18nArray"
               data-attributes="id instance/getThisOptions()/tableId">
            <thead data-define="sortingComponent instance/getComponent( 'sorting' );
                                 selectingComponent instance/getComponent( 'selecting' );
                                 selectingCheckbox and: (exists:selectingComponent) (lt: -1 selectingComponent/getThisOptions()/mode/indexOf('checkbox'))"
                   data-domain="i18nArray">
                <tr>
                    <th data-condition="selectingCheckbox">
                        <input class="zcrud-select-all-rows" type="checkbox">
                    </th>
                    <th data-repeat="field instance/getFields()" 
                        data-define="sortingOn and: sortingComponent field/sorting;
                                      sortablePart cond: sortingOn ' zcrud-column-header-sortable' '';
                                      sortType cond: sortingComponent sortingComponent/getTypeForFieldId( field/id ) null;
                                      sortTypePart cond: (and: sortingOn (exists:sortType)) (string: zcrud-column-header-sorted-${sortType}) ''"
                        data-attributes="class string:zcrud-column-header zcrud-column-header-${field/id}${sortablePart}${sortTypePart};
                                          data-sort-field-id field/id;
                                          data-sort-type sortType;
                                          field/attributes/rowHeader">
                        <span data-replace="field/title | tr:string:${field/id}_title">Field title</span>
                    </th>
                    <th class="zcrud-command-column-header"><!--empty--></th>
                </tr>
            </thead>
            <tbody data-attributes="id instance/getThisOptions()/tbodyId"
                   data-define="selectingComponent instance/getComponent( 'selecting' );
                                 selectingCheckbox and: (exists:selectingComponent) (lt: -1 selectingComponent/getThisOptions()/mode/indexOf('checkbox'));
                                 renderIds false;
                                 key instance/getKey()"
                   data-domain="i18nArray">
                <tr data-repeat="record records"
                    data-define="data-record-index record-repeat/index()"
                    data-attributes="data-record-key cond:omitKey null record[ key ];
                                      data-record-index data-record-index;
                                      data-record-id instance/generateId();
                                      class 'zcrud-data-row zcrud-data-entity'">
                    <td data-condition="selectingCheckbox">
                        <input class="zcrud-select-row" type="checkbox">
                    </td>
                    <td data-repeat="field instance/getFields()"
                        data-attributes="class string:zcrud-column-data zcrud-column-data-${field/id} zcrud-like-field zcrud-like-field-${field/name}"
                        data-define="value record[ field/id ];
                                      fieldIsEditable and: editable (not: field/isReadOnly())">
                        <span data-condition="not: fieldIsEditable" data-use-macro="field/viewTemplate | 'defaultNotEditable'"><!--empty--></span>
                        <span data-condition="fieldIsEditable" data-use-macro="field/template"><!--empty--></span>
                        <span data-condition="fieldIsEditable" data-attributes="class 'zcrud-validationMessage zcrud-hidden'"></span>
                    </td>
                    <td class="zcrud-command">
                        <span data-use-macro="'toolbar'"
                              data-define="buttons instance/getByRowButtons()">
                            The buttons of the toolbar
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <span data-define-macro="defaultNotEditable"
              data-content="cond: ( eq: value undefined ) ( tr:'undefinedValueToShow' ) field/getViewValueFromRecord( record )">
            Field value
        </span>

        <div data-define-macro="filterPanel" 
             data-define="component instance/getComponent( 'filtering' );
                           thisOptions component/getThisOptions();
                           record component/getInitialRecord();
                           fieldAttributes 'filterField'"
             data-attributes="class cond: thisOptions/cssClass (string:${component/getClass()} ${thisOptions/cssClass}) component/getClass()"
             data-domain="i18nArray">
            <form>
                <span class="zcrud-field-help" data-content="tr:string:${component/getParent()/getName()}_filter_description">
                    The description of this filter.
                </span>
                <span data-use-macro="thisOptions/fieldsTemplate"
                      data-define="viewItems component/getFields();
                                   isNotHistoryField true;
                                   spanFieldClass 'zcrud-filter-field';
                                   forceEditable true">
                    The list of fields of the filter
                </span>
                <button type="button" 
                        data-attributes="class 'zcrud-filter-submit-button'"
                        data-content="tr:'button_filter'">
                    Filter
                </button>
            </form>
        </div>
        
        <div data-define-macro="status" 
             data-attributes="class 'zcrud-status'"
             data-domain="i18nArray">
            <span data-content="tr: 'Status:'">Status:</span>
            <span data-condition="status">
                <span data-attributes="id 'zcrud-message'"
                      data-condition="status/message"
                      data-content="tr: status/message">Operation done!</span>
                <span data-attributes="id 'zcrud-message-time'"
                      data-condition="status/date"
                      data-content="string:(${status/date})">(14:23)</span>
            </span>
        </div>
        
        <div data-define-macro="pagingPanel" 
             data-define="component instance/getComponent( 'paging' );
                           pagingInfo component/buildInfo();
                           currentPageNumber pagingInfo/pageNumber;
                           pageListInfo pagingInfo/pageListInfo;
                           block1OfPages pageListInfo/block1OfPages;
                           block2OfPages pageListInfo/block2OfPages;
                           block3OfPages pageListInfo/block3OfPages;
                           firstSuffix cond: pagingInfo/isFirstPage ' zcrud-page-number-disabled' '';
                           lastSuffix cond: pagingInfo/isLastPage ' zcrud-page-number-disabled' '';
                           thisOptions component/getThisOptions()"
             data-attributes="class component/getClass()"
             data-domain="i18nArray">
            
            <div class="zcrud-left-area">
                <span class="zcrud-page-list">
                    <span data-attributes="class string:zcrud-page-number-first${firstSuffix}"
                          data-page="1">&lt;&lt;</span>
                    <span data-attributes="class string:zcrud-page-number-previous${firstSuffix};
                                            data-page (-: currentPageNumber 1)">&lt;</span>
                    <span data-repeat="pageNumber block1OfPages" 
                          data-define="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-attributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-content="pageNumber">
                          1
                    </span>
                    <span class="zcrud-page-number-space" data-condition="lt: 0 block2OfPages/length">...</span>
                    <span data-repeat="pageNumber block2OfPages" 
                          data-define="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-attributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-content="pageNumber">
                          10
                    </span>
                    <span class="zcrud-page-number-space" data-condition="lt: 0 block3OfPages/length">...</span>
                    <span data-repeat="pageNumber block3OfPages" 
                          data-define="suffix cond: (eq: pageNumber currentPageNumber) ' zcrud-page-number-active zcrud-page-number-disabled' ''"
                          data-attributes="class string:zcrud-page-number${suffix};
                                            data-page pageNumber"
                          data-content="pageNumber">
                          25
                    </span>
                    <span data-attributes="class string:zcrud-page-number-next${lastSuffix};
                                            data-page (+: currentPageNumber 1)">&gt;</span>
                    <span data-attributes="class string:zcrud-page-number-last${lastSuffix};
                                            data-page pagingInfo/numberOfPages">&gt;&gt;</span>
                </span>
                <span class="zcrud-goto-page">
                    <span data-content="tr:'Go to page:'">Go to page: </span>
                    <span data-condition="eq: thisOptions/gotoPageFieldType 'combobox'">
                        <select data-define="goToPageList pagingInfo/goToPageList;
                                              currentPageNumber pagingInfo/pageNumber"
                                data-attributes="class thisOptions/goToPageFieldClass">
                            <option data-repeat="pageNumber goToPageList"
                                    data-attributes="value pageNumber; selected cond: (eq: pageNumber currentPageNumber) 'selected' null"
                                    data-content="pageNumber">&nbsp;</option>
                        </select>
                    </span>
                    <span data-condition="eq: thisOptions/gotoPageFieldType 'textbox'">
                        <input data-attributes="class thisOptions/goToPageFieldClass;
                                                 thisOptions/gotoPageFieldAttributes">
                    </span>
                </span>
                <span class="zcrud-page-size-change">
                    <span data-content="tr:'Row count:'">Row count: </span>
                    <select data-define="currentPageSize component/getPageSize()"
                            data-attributes="class thisOptions/pageSizeChangeFieldClass">
                        <option data-repeat="pageSize component/getPageSizes()"
                                data-attributes="value pageSize; selected cond: (eq: pageSize currentPageSize) 'selected' null"
                                data-content="pageSize">&nbsp;</option>
                    </select>
                </span>
                <span class="zcrud-toolbar">
                    <span data-use-macro="'toolbar'"
                          data-define="buttons instance/getToolbarButtons()">
                        The buttons of the toolbar
                    </span>
                </span>
            </div>
            <div class="zcrud-right-area">
                <span class="zcrud-paging-info" 
                      data-define="pagingMessageSuffix cond:instance/isFiltered() (tr:'pagingMessageFilteredSuffix') '';
                                    pagingMessage cond:(eq: 0 pagingInfo/totalNumberOfRecords) (tr:'pagingNoRecordsMessage') (tr:'pagingMessage' ( first pagingInfo/first; last pagingInfo/last; total pagingInfo/totalNumberOfRecords ))"
                      data-content="string:${pagingMessage}${pagingMessageSuffix}">
                    Showing 126-128 of 128
                </span>
            </div>
        </div>
    </body>
</html>
