/* HTML tags*/
body {
    background-color: #f4f4f4;
    color: black;
    font-family: arial, helvetica, verdana;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
}

.sub {
    font-size: .75em;
}

code {
    color: red;
}
pre {
    padding-top: 1em;
    padding-left: 4em;
}
p {
    margin: .5em;
}

ul {
    margin-top: .25em;
    margin-bottom: .5em;
}
li {
    margin-bottom: .25em;
}

table {
    background-color: white;
}
table tbody tr:nth-child(odd)  {
    background-color: #f4f4f4;
}
table tbody tr:hover {
    background-color: #f2cece;
}
table th,
table td {
    padding: .25em;
}

/* Differences with jTable */
#zcrud-jtable-differences {
    border-collapse: collapse;
    border-style: solid;
}
#zcrud-jtable-differences .zcrud,
#zcrud-jtable-differences .jtable {
    width: 40%;
}

/* pre classes */
pre.console {
    background-color: black;
    color: white;
}
pre.js {
    background-color: blue;
    color: white;
}

/* Field option list */
ul.fieldOptionList {
    list-style-type: none;
}
ul.fieldOptionList>li {
    margin-bottom: 1em;
}
ul.fieldOptionList>li .header {
    background: black;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.fieldOptionList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.fieldOptionList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.fieldOptionList>li .header .appliesTo:before {
    margin-left: 2em;
    content: "applies to: ";
}
ul.fieldOptionList>li .header .default:before {
    margin-left: 2em;
    content: "default: ";
}

/* Field type list */
ul.fieldTypeList {
    list-style-type: none;
}
ul.fieldTypeList>li {
    margin-bottom: 1em;
}
ul.fieldTypeList>li .header {
    background: black;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.fieldTypeList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.fieldTypeList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.fieldTypeList>li .header .customOptions:before {
    margin-left: 2em;
    content: "customOptions: ";
}

/* General option list */
ul.generalOptionList {
    list-style-type: none;
}
ul.generalOptionList>li {
    margin-bottom: 1em;
}
ul.generalOptionList>li .header {
    background: black;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.generalOptionList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.generalOptionList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.generalOptionList>li .header .default:before {
    margin-left: 2em;
    content: "default: ";
}

/* Event list */
ul.eventList {
    list-style-type: none;
}
ul.eventList>li {
    margin-bottom: 1em;
}
ul.eventList>li .header {
    background: black;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.eventList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.eventList>li .header .return:before {
    margin-left: 2em;
    content: "return: ";
}