/* HTML tags*/
body {
    background-color: white;
    color: black;
    font-family: arial, helvetica, verdana;
}

h1 {
    padding: .5em 2em 0 2em;
    border-bottom: 0;
    text-align: center;
    font-size: 300%;
}
p.subheader,
p.linkButton {
    text-align: center;
    font-size: 120%;
    margin-bottom: 1em;
}

p.linkButton a {
    padding: 1em;
    background-color: darkcyan;
    color: white;
}

a.linkButton:hover,
p.linkButton a:hover {
    background-color: #9dc00e;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    border-bottom: 0;
    color: darkcyan;
}

aside {
    width: 30%;
    float: right;
    border: 1px solid darkcyan;
    border-style: solid;
    padding: 0em 1em 0em 1em;
    white-space: nowrap;
    border-radius: 8px;
}

aside section header {
    border-style: none none solid none;
    border-width: 1px;
    border-color: darkcyan;
}

aside section header,
aside section ul {
    margin: .5em;
}

table,
th,
td {
    border: 1px solid black;
}

.sub {
    font-size: .75em;
}

code {
    color: red;
}
pre {
    padding-top: 1em;
    padding-left: 4em;
}
p {
    margin: .5em;
}

ul {
    margin-top: .25em;
    margin-bottom: .5em;
}
li {
    margin-bottom: .25em;
}

table {
    background-color: white;
}
table tbody tr:nth-child(odd)  {
    background-color: #f4f4f4;
}
table tbody tr:hover {
    background-color: #f2cece;
}
table th,
table td {
    padding: .25em;
}

/* Differences with jTable */
#zcrud-jtable-differences {
    border-collapse: collapse;
    border-style: solid;
}
#zcrud-jtable-differences .zcrud,
#zcrud-jtable-differences .jtable {
    width: 40%;
}

/* pre classes */
pre.console {
    background-color: darkcyan;
    color: white;
}
pre.js {
    background-color: blue;
    color: white;
}

/* Field option list */
ul.fieldOptionList {
    list-style-type: none;
}
ul.fieldOptionList>li {
    margin-bottom: 1em;
}
ul.fieldOptionList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.fieldOptionList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.fieldOptionList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.fieldOptionList>li .header .appliesTo:before {
    margin-left: 2em;
    content: "applies to: ";
}
ul.fieldOptionList>li .header .default:before {
    margin-left: 2em;
    content: "default: ";
}

/* Field type list */
ul.fieldTypeList {
    list-style-type: none;
}
ul.fieldTypeList>li {
    margin-bottom: 1em;
}
ul.fieldTypeList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.fieldTypeList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.fieldTypeList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.fieldTypeList>li .header .customOptions:before {
    margin-left: 2em;
    content: "customOptions: ";
}

/* Custom options list */
ul.customOptionsList {
    list-style-type: none;
}
ul.customOptionsList>li {
    margin-bottom: 1em;
}
ul.customOptionsList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.customOptionsList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.customOptionsList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.customOptionsList>li .header .appliesTo:before {
    margin-left: 2em;
    content: "appliesTo: ";
}
ul.customOptionsList>li .header .default:before {
    margin-left: 2em;
    content: "default: ";
}

/* General option list */
ul.generalOptionList {
    list-style-type: none;
}
ul.generalOptionList>li {
    margin-bottom: 1em;
}
ul.generalOptionList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.generalOptionList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.generalOptionList>li .header .dataType:before {
    margin-left: 2em;
    content: "dataType: ";
}
ul.generalOptionList>li .header .default:before {
    margin-left: 2em;
    content: "default: ";
}

/* Event list */
ul.eventList {
    list-style-type: none;
}
ul.eventList>li {
    margin-bottom: 1em;
}
ul.eventList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.eventList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.eventList>li .header .return:before {
    margin-left: 2em;
    content: "return: ";
}

/* Method list */
ul.methodList {
    list-style-type: none;
}
ul.methodList>li {
    margin-bottom: 1em;
}
ul.methodList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.methodList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.methodList>li .header .return:before {
    margin-left: 2em;
    content: "return: ";
}

/* Button type list */
ul.buttonTypeList {
    list-style-type: none;
}
ul.buttonTypeList>li {
    margin-bottom: 1em;
}
ul.buttonTypeList>li .header {
    background: darkcyan;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: .5em;
}
ul.buttonTypeList>li .header .name {
    font-weight: bold;
    font-size: 130%;
}
ul.buttonTypeList>li .header .bindableTo:before {
    margin-left: 2em;
    content: "bindable to: ";
}

/* Menu */
ul.menu {
    list-style-type: none;
    margin: 0 1em 0 1em;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
}

ul.menu li {
    float: left;
}

ul.menu li a, 
ul.menu .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

ul.menu li a:hover, 
ul.menu .dropdown:hover .dropbtn {
    background-color: #9dc00e;
}

ul.menu li:first-child {
    margin: 0 4em 0 4em;
    font-size: 110%;
    font-weight: bold;
}

ul.menu li.dropdown {
    display: inline-block;
    background: url('../themes/basic/down.png') no-repeat left;
}

ul.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2);
    z-index: 1;
}

ul.menu .dropdown-content a {
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.menu .dropdown-content a:hover {background-color: #f1f1f1}

ul.menu .dropdown:hover .dropdown-content {
    display: block;
}
